h6{
text-align:left;
 text-decoration: underline; 
 text-size-adjust: 40px;
 font-size: 35px;
 font-family: Henny Penny;
}
.Introduction{
    margin-left: auto;
}
#summary{
    width:fit-content;
    columns: 1;
    position: fixed;
    font-family: 'IM Fell English SC';
    font-size: 35px;
    font-size-adjust: initial;
    text-align: center;
    text-decoration-line: underline;
}

h7{
    text-align: left;
    text-decoration: underline;
    font-size: 35px;
    font-family: Henny Penny;
    text-size-adjust: 40px;
}

.Alumni1{
    margin-bottom: auto;
    
}
#Introduction1{
    width: fit-content;
    columns: 1;
    position:fixed;
    font-family: 'IM FELL ENGLISH SC';
    font-size: 34px;
    text-size-adjust: initial;
    text-align: center;
    text-decoration-style: solid;
}