
.title-container{
   display: flex;
   align-items: flex-start;
   flex-wrap: wrap;
}
.image{
   flex: 1;
   
}

   
.title{
    flex: 5; }
h1 span {
      background:#fff;
      padding:0 10px;
   
   }
img {
    max-width: 70%; }

    h1 {
      font-family: UnifrakturMaguntia;
       width: 100%;
       font-size: 30px;
       text-align: center;
       border-bottom: 3px solid DarkGoldenRod;
       line-height: 0.1em;
       margin: 10px 0 20px;

    }

 h2{
   font-family: IM Fell English SC;
   font-size: 80px;
   color: black;
   font-weight: 100;
   letter-spacing: 30px;
   text-align: center;
   line-height: 1%;
 }
 h3{
   
    font-size: 100px;
    text-shadow: 0 2px 5px black;
    font-family: Poiret One;
    line-height: 5%;   
    margin-top: 55px;
    
    color: white;
    padding: 0px;
    white-space: nowrap; 
   
 }
 .navbar-container{
     display: flex;
   justify-content: space-evenly;
   line-height: 100%; }
 .navbar-containr div{
     width: 6px; }
 .navbar-container a{
    text-decoration: none;
    color: black;
    font-size: 37px; }


.navbar-container a:hover {
    color: #B8860B;
    text-shadow: 0 0 5px black;
    font-size: 40px;
}
.navbar-container b:hover {
   color: #C70303;
   text-shadow: 0 0 5px black;
   font-size: 40px;
}
.section-container{
   display: flex;
   }


 .main{
    font-family:  Henny Penny; }
 .alumni{
    font-family: Fontdiner Swanky; }
 .puzzle{
    font-family:  Frijole; }
 .sports{
    font-family:  Miltonian Tattoo; }
 .space{
    color: white; }

#article{
  
   columns: 2;
  width: 600px;
  
  position: absolute;
  top: 330px;
  right: 50px;
  font-family: Sans-serif;
  font-size: 15px;
  justify-content: left;
  text-align: justify;
  font-family: 'IM Fell English SC';
}
footer{
  
   position: absolute; 
   top: 890px; 
   left: 300px;
   font-size: 15px;
}
