
.box{
  width:500px;
  height:70px;

}
.black{
  background:#201B1B

}
.text-style{
  font-family: Courier New;
  color: white;
   width: 100%;
   font-size: 20px;
   text-align: center;
}
.table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.td, .th {
  border: 4px solid #dddd;
  font-family: Courier New;
  text-align: left;
  padding: 8px;
}

.tr:nth-child(even) {
  background-color: #DCB782;
}

 .space{
    color: white; }
.winners{
  font-family: Georgia, serif;
  display: block;
  text-align: center;
}
.hl3{
    font-weight: 400;
    font-style: italic;
    font-size: 36px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}
.footer {
  position: relative;
  left: 0;
  bottom: 10px;
  width: 100%;
  color: black;
  text-align: center;
}
