.s1 {
width: 120px;
height: 120px;
display: table-cell;
background: url(Phoenix.png);
background-position: left top;
cursor: pointer;

}
.s2 {
width: 120px;
height: 120px;
display: table-cell;
background: url(Phoenix.png);
background-position: center top;
cursor: pointer;

}

.s3 {
width: 120px;
height: 120px;
display: table-cell;
background: url(Phoenix.png);
background-position: right top;

}
.s4 {
height: 120px;
width: 120px;
display: table-cell;
background: url(Phoenix.png);
background-position: left center;

}

.s5 {
width: 120px;
height: 120px;
display: table-cell;
background: url(Phoenix.png);
background-position: center center;

}
.s6 {
width: 120px;
height: 120px;
display: table-cell;
background: url(Phoenix.png);
background-position: right center;
}

.s7 {
width: 120px;
height: 120px;
display: table-cell;
background: url(Phoenix.png);
background-position: left bottom;
}
.s8 {
width: 120px;
height: 120px;
display: table-cell;
background: url(Phoenix.png);
background-position: center bottom;
}

.s9 {
width: 120px;
height: 120px;
background: white;
display: table-cell;

}
.button {
  background-color: white;
  color: black;
  border: 2px solid #151414; /* Black */
}
.button {
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #151414; /* Black */
  color: white;
}

.float-container {
    border: 3px solid #fff;
    padding: 4em;
}

.float-child {
    width: 45%;
    float: left;
    padding: 20px;
    border: 5px solid black;
    border-style: double;
}
.float-child2 {
  width: 45%;
  float: left;
  padding: 20px;
  border: 5px solid black;
  border-style: double;
}
