#articles{
  
    columns: 3;
   width: 600px;
   justify-content: left;
   position: inherit;
   top: 430px;
   left: 100px;
   font-family: 'IM Fell English SC';
   font-size: 14px;
   text-align: justify;

   
 }
 h1{
    font-family: UnifrakturMaguntia;
    font-size: 30px;
    text-align: center;
    line-height: 10%;
 }

 h4{
    text-align: center;
    font-family:  Henny Penny; 
    font-size: 35px;
    text-shadow: 0 2px 5px black;
    line-height: 1%;

}

h5{
    
    font-family:  Henny Penny; 
    font-size: 35px;
    text-shadow: 0 5px 5px black;
   line-height: 1%;
    margin-left: 135px;
    
   


}

.story2-image img{
    max-width: 100%;
    margin-left: 5px;
    display: block;
}

.story3-image img{
    display: block;
  width: 100%;
  max-width: 100%;
  
 
}


.story
{
    margin-left: auto;
}

.story3{
    margin-right: 100px;
    margin-top: -50px;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  }

#articless{
  
    columns: 2;
   width: 600px;
   justify-content: left;
   position: inherit;
   top: 430px;
   left: 100px;
   font-family: 'IM Fell English SC';
   font-size: 14px;
   text-align: justify;

   
 }

